<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
   <meta name="generator" content="Hugo 0.84.0">
   <title>Buku</title>

   {% load static %}

   <!-- Bootstrap core CSS -->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

   <style>
      .bd-placeholder-img {
         font-size: 1.125rem;
         text-anchor: middle;
         -webkit-user-select: none;
         -moz-user-select: none;
         user-select: none;
      }

      @media (min-width: 768px) {
         .bd-placeholder-img-lg {
            font-size: 3.5rem;
         }
      }
   </style>


   <!-- Custom styles for this template -->
   <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
</head>

<body>

   <header class="navbar navbar-light sticky-top bg-primary flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Perpustakaan</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
         data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav">
         <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Sign out</a>
         </div>
      </div>
   </header>

   <div class="container-fluid">
      <div class="row">
         <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
               <ul class="nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="/">
                        <span data-feather="home"></span>
                        Home
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{% url 'buku' %}">
                        <span data-feather="home"></span>
                        BUKU
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{% url 'anggota' %}">
                        <span data-feather="home"></span>
                        Anggota
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{% url 'petugas' %}">
                        <span data-feather="home"></span>
                        Petugas
                     </a>
                  </li>
               </ul>
            </div>
         </nav>

         <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
               class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h1 class="h2">Data buku</h1>
               <div class="btn-toolbar mb-2 mb-md-0">
               </div>
            </div>
            <div class="container">
               <h2 class="text-center mt-5 mb-4">Data Buku</h2>
               <div class="row justify-content-center">
                  <div class="table-responsive col-12">
                     <table class="table table-striped table-sm">
                        <thead>
                           <tr>
                              <th scope="col">No</th>
                              <th scope="col">Code Buku</th>
                              <th scope="col">Judul Buku</th>
                              <th scope="col">Penulis</th>
                              <th scope="col">Penerbit</th>
                              <th scope="col">Tahun Terbit</th>
                              <th scope="col">Stok</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for data in buku_list %}
                           <tr>
                              <td>{{ data.id }}</td>
                              <td>{{ data.code }}</td>
                              <td>{{ data.judul }}</td>
                              <td>{{ data.penulis }}</td>
                              <td>{{ data.penerbit }}</td>
                              <td>{{ data.tahun_terbit }}</td>
                              <td>{{ data.stok }}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </main>


         <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>